{% extends 'base.html.twig' %}
{% block body %}


    <div class="container mt-4">
        <h1>Editer le bien</h2>
        {{ include('Admin/plants/_form.html.twig', {button: 'Editer'}) }}
    </div>

{% endblock %}

